<h2>Volunteers for {{name}}</h2>
<form action="signup" method="POST">
	<table>
		{{#duties}}
		<tr>
			<td>{{description }} ({{details}})</td>
			<td><input name="{{description}}-volunteer" type="text" value="{{volunteer}}"/></td>
		</tr>
		{{/duties}}
	</table>
	<input type="submit" value="Save"/>
</form>
